#canvas {
    background-color: white;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

    // #start {
    //     background-color: white;
    //     width: $draw-width;
    //     height: $draw-height;
    //     margin-left: $draw-margin-left;
    //     margin-top: $draw-margin-top;

    // }

// #start {
//     margin-left: 50px;
// }

// #start img {
//     background-image: url('../img/start.png');
//     width: $draw-width;
//     height: $draw-height;
// }

#base {
    background-image: url('../img/base.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#pole {
    background-image: url('../img/pole.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#bar {
    background-image: url('../img/bar.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#hook {
    background-image: url('../img/hook.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#head {
    background-image: url('../img/head.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#torso {
    background-image: url('../img/torso.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#arm1 {
    background-image: url('../img/arm1.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#arm2 {
    background-image: url('../img/arm2.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#leg1 {
    background-image: url('../img/leg1.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#leg2 {
    background-image: url('../img/leg2.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#saved {
    background-image: url('../img/saved.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}

#dead {
    background-image: url('../img/dead.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
}