#drawing {
    width: $draw-width;
    height: $draw-height;
    margin-left: $draw-margin-left;
    margin-top: $draw-margin-top;
    position: relative;
}

#blank {
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
    position: absolute;
}

#base {
    background-image: url('../img/draw/base.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#pole {
    background-image: url('../img/draw/pole.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#bar {
    background-image: url('../img/draw/bar.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#hook {
    background-image: url('../img/draw/hook.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#head {
    background-image: url('../img/draw/head.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#torso {
    background-image: url('../img/draw/torso.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#arm1 {
    background-image: url('../img/draw/arm1.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#arm2 {
    background-image: url('../img/draw/arm2.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#leg1 {
    background-image: url('../img/draw/leg1.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#leg2 {
    background-image: url('../img/draw/leg2.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#saved {
    background-image: url('../img/draw/saved.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}

#dead {
    background-image: url('../img/draw/dead.png');
    position: absolute;
    width: $draw-width;
    height: $draw-height;
    border: $draw-border;
    background-color: $draw-background-color;
}